<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <% if(KindOfDay === "Weekend"){ %>
      <h1 style="color: green"><%= KindOfDay %> ToDo List</h1>
    <% } else { %>
      <h1 style="color: blue"><%= KindOfDay %> ToDo List</h1>
    <% } %>



  </body>
</html>
